body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body, html {
    height: 100%;
  }
  
.bg-login-signup {
/* The image used */
background-image: url("../assests/WebSVGAssets/LoginSignUpBg.svg");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
position: relative;
background-repeat: no-repeat;
background-size: contain;
}

a {
    color: black;
    cursor: pointer;
}

.font-thin {
    font-weight: 100;
}
.font-light {
    font-weight: 300;
}
.font-regular {
    font-weight: 400;
}
.font-bold {
    font-weight: 700;
}
.font-large {
    font-weight: 900;
}

.md-1{
    margin-top: 10px;
}
.md-2{
    margin-top: 20px;
}
.md-3{
    margin-top: 30px;
}
.md-4{
    margin-top: 40px;
}
.md-5{
    margin-top: 50px;
}
.md-6{
    margin-top: 60px;
}
.md-7{
    margin-top: 70px;
}
.md-8{
    margin-top: 80px;
}
.md-9{
    margin-top: 90px;
}
.md-10{
    margin-top: 100px;
}
  
.btn-temp {
    background-color: #652079; 
    color: #fff;
    border-color: #652079;
}

.form-control {
    background-color: #f4f6f8;
    color: #bdbfc1;
    border: 1px solid #bdbfc1;
    padding: 6%;
}

.form-control:focus {
    color: #bdbfc1;
    background-color: #f4f6f8;
    border-color: #652079;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem  rgba(172,138,199,1);
    box-shadow: 0 0 0 0.2rem rgba(172,138,199,1);
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}